<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
</head>
<body>
<tr th:each="productPair: ${cart}">
  <td th:text="${productPair.value.getId()}"></td>
  <td th:text="${productPair.value.getName()}"></td>
  <td th:text="${productPair.value.getDescription()}"></td>
  <td th:text="${productPair.value.getPrice()}"></td>
  <td><a th:href="@{/cart/api/remove/{productId}(productId=${productPair.value.getId()})}">Remove</a></td>
</tr>

<a th:href="@{/cart/checkout}">Proceed to checkout</a>
</body>
</html>