<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="user: ${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getFirstName()}"></td>
    <td th:text="${user.getLastName()}"></td>
    <td><a th:href="@{/user-update/{userId}(userId=${user.getId()})}">Edit</a></td>
    <td><a th:href="@{/user-delete/{userId}(userId=${user.getId()})}">Delete</a></td>
</tr>
</body>
</html>